@import './palette.scss';

.card {
  align-items: center;
  flex-direction: column;
  display: flex;

  margin: auto;
  box-shadow: hsl(217, 54%, 10%) 0 0 4rem 3rem;
  border-radius: 1rem;
  width: 20rem;
  height: 35rem;

  background-color: $midnight-blue;

  aside {
    display: flex;
  }

  .nft {
    width: 17.4rem;

    .image {
      margin: 1.3rem 0;
      border-radius: 0.5rem;
    }

    .title {
      justify-self: left;

      margin-bottom: 0.9rem;

      font-size: 1.4rem;
      font-weight: 600;

      color: $white;
    }

    .body {
      margin-bottom: 0.9rem;

      font-size: 1rem;
      font-weight: 300;

      color: $soft-blue;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 17.4rem;

    .value {
      margin-left: .5rem;
    }

    .eth {
      font-size: 0.9rem;
      font-weight: 400;

      color: $cyan;
    }

    .countdown {
      font-size: 0.9rem;
      font-weight: 300;

      color: $soft-blue;
    }
  }
}
