@import './palette.scss';

.card {
  align-items: center;
  flex-direction: column;
  display: flex;

  margin: auto;
  box-shadow: rgba($color: #000000, $alpha: 0.1) 0 25px 50px 0;
  border-radius: 15px;
  padding: 24px 24px 0 24px;
  width: 327px;

  background-color: $midnight-blue;

  aside {
    display: flex;
  }

  .nft {
    width: 278px;

    .view-container {
      position: absolute;
      justify-content: center;
      align-items: center;

      display: flex;

      transition: 0.25s ease-in-out;

      border-radius: 8px;
      width: 278px;
      height: 278px;

      background-color: rgba(0, 255, 247, 0);

      .view-icon {
        opacity: 0;

        transition: 0.25s ease-in-out;
      }
    }
    .view-container:hover {
      background-color: rgba(0, 255, 247, 0.5);
    }

    .view-container:hover .view-icon {
      opacity: 1;
    }

    .image {
      margin-bottom: 24px;
      border-radius: 8px;
    }

    .title {
      justify-self: left;

      margin-bottom: 12px;

      font-size: 22px;
      font-weight: 600;

      color: $white;
      transition: 0.25s ease-in-out;
    }

    .title:hover {
      color: $cyan;
    }

    .body {
      margin-bottom: 16px;

      font-size: 16px;
      font-weight: 300;

      color: $soft-blue;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba($color: $soft-blue, $alpha: 0.25);
    padding-bottom: 16px;
    width: 278px;

    .value {
      margin-left: 6.5px;
    }

    .eth {
      font-size: 15px;
      font-weight: 400;

      color: $cyan;
    }

    .countdown {
      font-size: 15px;
      font-weight: 300;

      color: $soft-blue;
    }
  }

  .artist {
    display: flex;
    justify-content: left;
    align-items: center;

    margin: 16px 0 24px 0;
    width: 278px;

    .avatar {
      border: 0.075rem solid $white;
      border-radius: 100%;
      width: 33px;
    }

    .artist-info {
      margin-left: 16px;

      font-size: 15px;
      font-weight: 300;

      color: $soft-blue;

      a {
        text-decoration: none;
        color: $white;

        transition: 0.25s ease-in-out;
      }

      a:hover {
        color: $cyan;
      }
    }
  }
}
