// primary
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// neutral
$ink-blue: hsl(217, 54%, 11%);
$midnight-blue: hsl(216, 50%, 16%);
$petrol-blue: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// body-copy: 1.1rem
